@font-face {
    font-family: Louis George Cafe;
    src: url(../font/Louis\ George\ Café\ Bold\ 700.ttf);
}
@font-face {
    font-family: Louis George Cafe Std;
    src: url(../font/Louis\ George\ Café\ 400.ttf);
}
body{
    margin: 0;
    background-color: #FAF8F8;
}
/* component */
.sidenav{
    height: 100%;
    width: 80px;
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.12);
}
.content{
    padding: 10px 0px;
}
.wrapper{
    width: 1050px;
    margin: auto;
}
.logo{
    height: 50px;
    width: 80px;
    object-fit: cover;
}
.input{
    border-radius: 28px;
    height: 50px;
    width: 89%;
    padding: 0px 20px 0px 20px;
}
.btn{
    padding: 10px 63px;
    color: white;
    border-radius: 24px;
    border: none;
}
.box{
    border-radius: 18px;
    background-color: white;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.12);
}
.input-search{
    border-radius: 28px;
    height: 30px;
    width: 63%;
    padding: 0px 20px 0px 20px;
}
.btn-tambah{
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    border: none;
}
.table{
    width: 100%;
    border-radius: 8px;
    border-color: #E1E1E1;
}
/* Margin */
.mg-v-1{
    margin: 10px 0px;
}
.mg-l-4{
    margin-left: 40px;
}
.mg-b-2{
    margin-bottom: 20px;
}
.mg-b-6{
    margin-bottom: 60px;
}
.mg-b-4{
    margin-bottom: 40px;
}
.mg-l-3{
    margin-left: 30px;
}
.mg-t-3{
    margin-top: 30px;
}
.mg-ha-v-3{
    margin: 30px auto;
}
.mg-r-2{
    margin-right: 20px;
}
/* padding */
.pd-5{
    padding: 50px;
}
.pd-v-5{
    padding-left: 50px;
    padding-right: 50px;
}
.pd-h-3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pd-h-5{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pd-h-2{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* position */
.absolute{
    position: absolute;
}
.b0{
    bottom: 0;
}
.l0{
    left: 33%;
}
/* z-index */
.z-1{
    z-index: 1;
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    height: 100%;
}
/* width */
.w-350{
    width: 350px;
}
.wp-50{
    width: 50%;
}
.w-300{
    width: 300px;
}
/* display */
.flex{
    display: flex;
}
.f-col{
    flex-direction: column;
}
.block{
    display: block;
}
.none{
    display: none;
}
.inline-block{
    display: inline-block;
}
/* placing */
.jus-con-sa{
    justify-content:space-between;
}
.vh-c{
    justify-content: center;
    align-items: center;
}
.ai-c{
    align-items: center;
}
.ta-c{
    text-align: center;
}
.center{
    margin: auto;
}
.ta-l{
    text-align: left;
}
.fl-b{
    float: inherit;
}
.jc-r{
    justify-content: right;
}
.flex-1{
    flex: 1;
}
/* background */
.bg-grey{
    background-color: #E1E1E1;
}
.bg-orange{
    background-color: #FF8D44;
}
.bg-white{
    background-color: white;
}
/* font */
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.fw-600{
    font-weight: 600;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-22{
    font-size: 22px;
}
.fs-30{
    font-size: 30px;
}
.fs-24{
    font-size: 24px;
}
.fs-36{
    font-size: 36px;
}
.fs-20{
    font-size: 20px;
}
.louis{
    font-family: 'Louis George Cafe Std';
}
.td-0{
    text-decoration: none;
}
/* color */
.red{
    color: #FF0000;
}
.orange{
    color: #FF8D44;
}
.black{
    color: black;
}
/* misc */
.pointer:hover{
    cursor: pointer;
}
.b-0{
    border: none;
}