/* container */
.content {
    padding: 100px 0px;
}
.masuk {
    text-align: center;
}
.form-login {
    width: 440px;
    margin: auto;
}
.form-input {
    width: 400px;
    margin-bottom: 20px;
    background-color: white;
    height: 50px;
    border: solid 1px #ff8d44;
    border-radius: 28px;
    padding: 0px 20px 0px 20px;
    font-family: "Louis George Cafe Std";
    font-size: 20px;
}
.form-login p {
    text-align: center;
    font-family: "Louis George Cafe Std";
    font-size: 14px;
    color: black;
}
.form-login a {
    font-family: "Louis George Cafe";
    font-size: 14px;
    color: black;
}
.btn-login {
    display: block;
    margin: auto;
    padding: 10px 63px;
    background-color: #ff8d44;
    color: white;
    border-radius: 24px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.btn-login:hover {
    cursor: pointer;
}
.center {
    text-align: center;
    color: red;
    font-family: "Louis George Cafe";
    font-size: 14px;
}
/* end container */
