.wrapper-luar{
    width: 1050px;
    margin: auto;
    padding-top: 30px;
}
.sub{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
.wrapper-dalam{
    display: flex;
}
.left{
    flex:6;
}
.alamat,.right{
    padding: 10px 0px 10px 30px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}
.subalamat, .subpesan, .subtotal{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0px;
}
.detail{
    font-family: 'Louis George Cafe Std';
    font-size: 20px;
    margin: 5px 0px
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.split{
    flex:1;
    background-color: transparent;
}
.right{
    flex:8;
    padding: 10px 0px;
}
.detail-pesanan{
    margin: auto;
    width: 90%;
}
.subpesan{
    display: inline-block;
    text-align: end;
    width: calc(50% - 2px);
    text-align: left;
}
.subtotal{
    display: inline-block;
    font-weight: 500;
    width: calc(50% - 2px);
    text-align: right;
}
.produk{
    display: flex;
    align-items: initial;
    margin-bottom: 10px;
}
.foto{
    max-width: 110px;
    height: 110px;
    object-fit: cover;
}
.template{
    width: 40%;
}
.harga-produk{
    text-align: right;
}
.nama-produk{
    margin-left: 20px;
}
.nama-produk,.harga-produk{
    font-family: 'Louis George Cafe';
    font-size: 20px;
}
.align-kanan{
    text-align: right;
    font-family: 'Louis George Cafe';
    font-size: 18px;
}
.total{
    font-size: 20px;
    margin-top: 5px;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.btn{
    padding: 10px 40px;
    border: none;
    color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.12);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
}
.terima{
    background-color: #FF8D44;
}
.bayar{
    background-color: red;
}
.btn:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.modalContent{
    background-color: white;
    margin: 20% auto;
    padding-bottom: 20px;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.12);
    width:25%;
    align-items: center;
    animation-name : modalopen;
    animation-duration : 1s;
}
.modalContent textarea{
    display: block;
    margin:auto;
    width: 46%;
    margin-bottom: 20px;
    background-color:white;
    border-radius: 18px;
    border-color: #e1e1e1;
    padding: 0px 20px 0px 20px;
    font-family: 'Louis George Cafe Std';
    font-size: 16px;
}
.close{
    margin-left: 20px;
    padding-top: 20px;
}
.sub-modal{
    width: 55%;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.modalContent button{
    display: block;
    margin: auto;
    padding: 10px 50px;
    background-color: #FF8D44;
    color: white;
    border-radius: 24px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.close:hover, button{
    cursor: pointer;
}
.star{
    max-width: max-content;
    margin: auto;
}
.checked {
    color: #FFCB44;
}
span{
    font-size: 20px;
}
@keyframes modalopen{
    from{ opacity: 0}
    to { opacity: 1}
}
.link-bayar{
    text-decoration: none;
    color: white;
}
.far:hover, .fas:hover{
    cursor: pointer;
}
.center{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: red;
}